//TEXTO

$negro: rgb(31, 41, 55);
$gris-medio: rgb(75, 85, 99);
$gris-claro: rgb(107, 114, 128);
$blanco-text: rgb(255, 255, 255);

//FONDO
//  -gradiente de fondo
$bgmorado-claro: rgb(192, 132, 252);
$bgrosa: rgb(236, 72, 153);
$bgrojo: rgb(239, 68, 68);
$bgblanco: rgb(255, 255, 255);
$bggris-inactivo: rgb(243, 244, 246); //pestañas inactivas
$bggris-pag: rgb(229, 231, 146); //botones paginación

//acento y botones
$morado:rgb(168, 85, 247); 
$morado-hover: rgb(147, 51, 234);
$rosa: rgb(236, 72, 153);
$rosa-hover: rgb(219, 39, 119);
$rojo-texto: rgb(220, 38, 38);
$rojo-hover-texto: rgb(220, 38, 38);
$hover-fondo: rgb(254, 242, 242);

//colores de boto y focus
$borde-gris: rgb(229, 231, 235);
$focus-morado: rgb(233, 213, 255);
$focus-rosa: rgb(251, 207, 232);

//elementos definidos



